@page "/artifacts"

@using Genshin_Site.Data;
@using System.Text.Json;

@inject ArtifactsService service;

<h3>Artifact Sets</h3>

@foreach (var set in service.GetSets())
{
    <ArtifactSetComponent ArtifactSet=@set/>
}

@code {

    //Save template data
    //protected override void OnInitialized()
    //{
    //    service.Save();
    //    base.OnInitialized();
    //}

}
