.expand {
	width: auto;
	border-style: solid;
	border-color: lightgray;
	margin: 6px 0px;
	border-radius: 25px;
}

.expand:hover {
	background-color: blanchedalmond;
	cursor: pointer;
}

img {
	width: 75px;
	height: 75px;
}

img.SetIcon {
	width: 104px;
	height: 104px;
}
.wrap {
	overflow-wrap: break-word;
}
