@page "/characters/{CharacterName}";
@using Genshin_Site.Data;
@inject CharactersService service;
@inject WeaponService service2;


@{
    Character character = Get(CharacterName);
    <CharacterComponent Character=@character />
    <div>
        @foreach (var build in character.Builds)
        {
            <h4>Weapons</h4>
            @foreach(var weapon in build.Weapons)
            {
                Weapon test = GetWeapon(weapon);
                <WeaponsComponent weapon=@test/>
            }
            <h4>Artifacts</h4>
            @foreach (var artifacts in build.ArtifactSets)
            {
                <div>@artifacts</div>
            }
            <h4>Stats</h4>
            @foreach (var stats in build.Stats)
            {
                <div>@stats</div>
            }
        }
    </div>
}
@code {
    [Parameter]
    public string CharacterName { get; set; }

    public Character Get(string name)
    {
        Character needed = new Character(
            "",
            "",
            "",
            false,
            "",
            new List<Build>()
                {
                    new Build(
                        new List<string>
                        {
                            "",
                        },
                        new List<string> 
                        { 
                            "",
                        },
                        new List<string> 
                        { 
                            "",
                        }
                    )
                });
        List<Character> characters = service.Get();
        foreach (var character in characters)
        {
            if (character.CharacterName == name)
            {
                needed = character;
            }
            else
            {
                continue;
            }
        }
        return needed;
    }
    public Weapon GetWeapon(string name)
    {
        Weapon needed = new Weapon( "", "", "", "", "");
        List<Weapon> weapons = service2.Get();
        foreach (var weapon in weapons)
        {
            if( weapon.Name == name)
            {
                needed = weapon;
            }
        }
        return needed;
    }
}
