@page "/characters"
@using Genshin_Site.Data;
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Http.Extensions;
@inject CharactersService service;


<h3>Character</h3>
<button @onclick="() => Expand(service.Get())">Expand all</button>
<button @onclick="() => Collapse(service.Get())">Collapse all</button>
<hr>
<div class="wrap-icons">
@foreach (var character in service.Get())
    @*@foreach (var character in roster)*@
{
    <div class="card-box">
            <div @onclick="() => GoToDetails(character)">
            <CharacterComponent Character=@character />
            </div>
    </div>
}
</div>

@code
{
    private void GoToDetails(Character character)
        => NavManager.NavigateTo($"/characters/{character.CharacterName}");

    public void Expand(List<Character> a)
    {
        foreach (var character in a)
        {
            character.Show = true;
        }
    }
    public void Collapse(List<Character> a)
    {
        foreach (var character in a)
        {
            character.Show = false;
        }
    }
    //Save to json    //protected override void OnInitialized()
    //{
    //    service.Save();
    //    base.OnInitialized();
    //}

} 