@page "/characters"
@using Genshin_Site.Data;

<h3>Character</h3>
@foreach (var character in roster)
{
    <button @onclick = "() => Show(character)">@character.CharacterName:</button>
    <div hidden="@(!character.Show)">
        <div>@character.Element</div>
        <div>@character.Weapon</div>
    </div>
    <br>
}

@code
{
    private List<Character> roster = new List<Character>()
    {
        new Character("Albedo", "Geo", "Sword",false),
        new Character("Alhaitham", "Dendro", "Sword",false),
        new Character("Aloy", "Cryo", "Bow",false),
        new Character("Amber", "Pyro", "Bow",false),
        new Character("Ayaka", "Cryo", "Sword",false),
        new Character("Ayato", "Hydro", "Sword",false),
        new Character("Baizu", "Dendro", "Catalyst",false),
        new Character("Barbara", "Hydro", "Catalyst",false),
        new Character("Beidu", "Electro", "Claymore",false),
        new Character("Bennet", "Pyro", "Sword",false),
        new Character("Candece", "Hydro", "Polearm",false),
        new Character("Chongyung", "Cryo", "Claymore",false),
        new Character("Collei", "Dendro", "Bow",false),
        new Character("Cyno", "Electro", "Polearm",false),
        new Character("Dehya", "Pyro", "Claymore",false),
        new Character("Diluc", "Pyro", "Claymore",false),
        new Character("Diona", "Cryo", "Bow",false),
        new Character("Dori", "Electro", "Claymore",false),
        new Character("Eula", "Cryo", "Claymore",false),
        new Character("Faruzan", "Anemo", "Bow",false),
        new Character("Fischl", "Electro", "Bow",false),
        new Character("Ganyu", "Cryo", "Bow",false),
        new Character("Gorou", "Geo", "Bow",false),
        new Character("Heizou", "Anemo", "Catalyst",false),
        new Character("Hu Tao", "Pyro", "Polearm",false),
        new Character("Itto", "Geo", "Claymore",false),
        new Character("Jean", "Anemo", "Sword",false),
        new Character("Kaeya", "Cryo", "Sword",false),
        new Character("Kaveh", "Dendro", "Claymore",false),
        new Character("Kazuha", "Anemo", "Sword",false),
        new Character("Kaqing", "Electro", "Sword",false),
        new Character("Kiara", "Dendro", "Sword",false),
        new Character("Klee", "Pyro", "Catalyst",false),
        new Character("Kokomi", "Hydro", "Catalyst",false),
        new Character("Kuki", "Dendro", "Sword",false),
        new Character("Leyla", "Cryo", "Sword",false),
        new Character("Lisa", "Electro", "Catalyst",false),
        new Character("Mika", "Cryo", "Polearm",false),
        new Character("Mona", "Hydro", "Catalyst",false),
        new Character("Nahida", "Dendro", "Catalyst",false),
        new Character("Nilou", "Hydro", "Sword",false),
        new Character("Ningguang", "Geo", "Catalyst",false),
        new Character("Noelle", "Geo", "Claymore",false),
        new Character("Qiqi", "Cryo", "Sword",false),
        new Character("Raden", "Electro", "Polearm",false),
        new Character("Razor", "Electro", "Claymore",false),
        new Character("Rozaria", "Cryo", "Polearm",false),
        new Character("Sara", "Electro", "Bow",false),
        new Character("Sayu", "Anemo", "Claymore",false),
        new Character("Shenhe", "Cryo", "Polearm",false),
        new Character("Sucrose", "Anemo", "Catalyst",false),
        new Character("Tarataglia", "Hydro", "Bow",false),
        new Character("Thoma", "Pyro", "Polearm",false),
        new Character("Tighnari", "Dendro", "Bow",false),
        new Character("Traveler", "Anemo", "Sword",false),
        new Character("Traveler", "Geo", "Sword",false),
        new Character("Traveler", "Electro", "Sword",false),
        new Character("Traveler", "Dendro", "Sword",false),
        new Character("Venti", "Anemo", "Bow",false),
        new Character("Wandere", "Anemo", "Catalyst",false),
        new Character("Xiangling", "Pyro", "Polearm",false),
        new Character("Xiao", "Anemo", "Polearm",false),
        new Character("Xingqui", "Hydro", "Sword",false),
        new Character("Xinyan", "Pyro", "Claymore",false),
        new Character("Yae Miko", "Electro", "Catalyst",false),
        new Character("Yanfei", "Pyro", "Catalyst",false),
        new Character("Yaoyao", "Dendro", "Polearm",false),
        new Character("Yelan", "Hydro", "Bow",false),
        new Character("Yoimia", "Pyro", "Bow",false),
        new Character("Yunjin", "Geo", "Polearm",false),
        new Character("Zhongli", "Geo", "Polearm",false),
    };
    Character selectedcharacter = new Character("", "", "", true);
    public void Show(Character character)
    {
        selectedcharacter = character;
        character.Show = !character.Show;
    }
}