@page "/characters/{CharacterName}";
@using Genshin_Site.Data;
@{
    //var character = charactersService.GeGetByName(CharacterName);
    //<CharacterComponent Character=@character />
    //<div>
    //    @foreach (var build in character.Builds)
    //    {
    //   <WeaponsComponent @WeaponsNames=@build.Weapons></WeaponComponent>

    //    }
    //</div>
}
@code {
    [Parameter]
    public string CharacterName { get; set; }

}
