.button {
	background-image: url("https://images.unsplash.com/photo-1582573732277-c5444fa37391?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmFpbmJvdyUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
	border-style: groove;
	border-radius: 4px;
	text-align: center;
	align-items: center;
}

div.text {
	display: flex;
	flex-wrap: wrap;
	vertical-align: text-top;
	/*align-items: center;*/
}

img {
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 180px;
	height: 120px;
	object-fit: contain;
}

.button:hover {
	background-color: blanchedalmond;
}
