@page "/"
<style>
    span.importamt{
    text-font:40;
    text-shadow: 2px 2px 5px red;
    }
</style>

<PageTitle>Genshin Site</PageTitle>

<h1>Hello, Traveler!</h1>
<br>
<br>
<h5>Welcome!I will help you in your journey in the universe of Genshin Impact, 
so you can be better there and have an easier time, plaing the game,
while you don't need to worry about your character build.</h5>
