.shown:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.button {
    border-style: solid;
    border-color: lightgray;
    border-radius: 25px;
    align-items: center;
    margin: 6px 0px;
    padding: 0px;
}

.wrap {
	overflow-wrap: break-word;
}
